{% extends 'base.html' %}
{% load static %}
{% block header %}Commission Details{% endblock %}
{% block title %}{{ commission.title }}{% endblock %}
{% block content %}
  <h3>Title: {{ commission.title }}</h3>
  <p>Description: {{ commission.description }}</p>
  <p>People Required: {{ commission.get_total_manpower_required }}</p>
  <p>Open Manpower: {{ commission.total_open_manpower }}</p>
  <p>Created On: {{ commission.created_on|date:"F d, Y H:i" }}</p>
  <p>Last Updated: {{ commission.updated_on|date:"F d, Y H:i" }}</p>

  {% if can_edit %}
    <a href="{% url 'commissions:commission-update' pk=commission.pk %}">
      <button>Edit Commission</button>
    </a>
  {% endif %}

  <h3>Jobs:</h3>
  {% for job in jobs %}
    <p><strong>{{ job.role }}</strong> ({{ job.get_total_open_positions }}) - {{ job.status }}</p>
    {% if request.user.is_authenticated and job.status == 'Open' and job.get_total_open_positions > 0 %}
      {{ job_application_form }}  
        <button type="submit">Apply to Job</button> 
      </form>    
    {% endif %}
  {% endfor %}

  <div style="display:flex;justify-content:center; margin-bottom: 20px;">
    <a href="{% url 'commissions:commission-list' %}">
      <button>Go back to Commission List</button>
    </a>
  </div>

{% endblock %}