body {
    background-color: #FFFBED;
}

h2 {
    font-size:2em;
    font-weight:900;
    color: #115246;
}

h3 {
    font-size:1.5em;
    font-weight:600;
    color: #115246;
}

a {
    text-decoration: none;
    color: #0A3029;
}


ul {
    list-style-type: none;
    padding: 0;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center img {
    max-width:100%; 
}

button {
    width:100%;
    padding:10px;
    background-color: #115246;
    border-radius: 20px;
    color:white;
    font-weight:900;
}