{% extends "base.html" %}
{% load static %}
{% block header %}
  <h3><p>In {{ article.category }}</p></h3>  
  <h2><p>{{ article.title }}</p></h2>  
{% endblock header %}

{% block content %}
  
  <p><b>Created on </b> {{ article.created_on }}</p>
  <p><b>Last updated </b> {{ article.updated_on }}</p>
  <img src="{{article.image.url}}" alt="{{ article.image_description }}">
  
  <style>
  div {
    padding: 15px;
    text-align: justify;
  }
  </style>
  
  <p><div>{{ article.entry }}</div></p>

  <h3>More Articles by {{ article.author }}</h3>
  <ul>
    {% for author_article in author_articles %}
      <li><a href="{{ author_article.get_absolute_url }}">{{ author_article.title }}</a></li>
    {% endfor %}
  </ul>
  
  <a href="{% url 'blog:article_update' pk=article.pk %}">
    <br><button>Update this Article</button></br>
  </a>

  <a href="{% url 'blog:article_list' %}">
    <br><button>Back to Blog Menu</button></br>
  </a>
  
{% endblock content %}

