{% extends "base.html" %}
{% block title %}
  Blog
{% endblock title %}
{% block content %}
  <h1><p>
    <h2>My Articles:</h2>
    <ul>
      {% for article in user_articles %}
        <li>
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <h2>All Articles:</h2>
    <ul>
      {% for article in all_articles %}
        <li>
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'blog:article_create' %}"><button>Add Article</button></a>
  </h2></p>
{% endblock content %}
