{% extends "base.html" %}
{% block title %}
  Blog
{% endblock title %}
{% block content %}
  <h1><p>

    {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            {% if request.get_full_path != '/accounts/login/' %}
                <a href={% url 'login' %}>Login</a>
            {% endif %}
        {% endif %}

    <h2>My Articles:</h2>
    <ul>
        {% for my_article in my_articles %}
          <li><a href="{{ my_article.get_absolute_url }}">{{ my_article.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>All Articles:</h2>
    <ul>
      {% for category, articles in articles_per_category.items %}
          <h3><p> {{ category.name }} </p></h3>
            {% for article in articles %}
              <p><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></p>
            {% endfor %}
      {% endfor %}
  </ul>

  <br></br>
    <a href="{% url 'blog:article_create' %}"><button>Add Article</button></a>
  </h2></p>
{% endblock content %}
