{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block title %}Wiki List{% endblock %}
{% block content %}
  <div class="container">
    {% for category in object_list %}
    <div class="card-item">
      <div class="content">
        <p class="title" style="font-size: 30px;"> {{ category.name }} </p>
        <div class="b">
              {% for item in category.Categories.all %}
              <h6><a href = "{{ item.get_absolute_url }}"> {{item}}  </a> </h6>
              {% endfor %}
        </div>
        <br>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock content %}