{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block title %}Wiki Details{% endblock %}

{% block content %}    
    <h2>Article Details</h2>
    <h3>
        <div class="c" style="font-size: 18px; padding-left: 4% ;padding-right: 10%;">
            <ul>

                <p style="font-size: 25px;">{{ article.title }}</p>
                <li><b>Updated last: </b>{{ article.updated_on }}</li>
                <li><b>Created last: </b>{{ article.created_on }}</li>
                <li style="text-align: justify;">{{ article.entry }}</li>
                <br>
            </ul>

        </div>
    </h3>
    <a href="/wiki/articles">
        <button style="margin-left: 7% ;">
            Go Back to Wiki List
        </button>
    </a>

{% endblock content %}
