{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
</head>
<body>
    <h2></h2>
    <h3>
        <div class="c" style="font-size: 18px; padding-left: 4% ;padding-right: 10%;">
            <ul>

                <p style="font-size: 25px;">{{ article.title }}</p>
                <li><b>Updated last: </b>{{ article.updated_on }}</li>
                <li><b>Created last: </b>{{ article.created_on }}</li>
                <li style="text-align: justify;">{{ article.entry }}</li>
                <br>
            </ul>

        </div>
    </h3>
    <a href="/wiki/articles">
        <button style="margin-left: 7% ;">
            Go Back to Wiki List
        </button>
    </a>
</body>
</html>

{% endblock content %}

<style>
</style>