{% extends "base.html" %}
{% load static %}
{% block title %}
  Forum Topics
{% endblock title %}
{% block content %}
  <h2>My Threads:</h2>
  <ul>
      {% for my_thread in my_threads %}
        <li><a href="{{ my_thread.get_absolute_url }}">{{ my_thread.title }}</a></li>
      {% endfor %}
  </ul>

  <h2>All Articles:</h2>
  <ul>
    {% for category, threads in threads_per_category.items %}
        <h3> {{ category.name }} </h3>
          {% if thread %}
          {% endif %}
          {% for thread in threads %}
            <li><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
          {% endfor %}
    {% endfor %}
</ul>

  <a href="{% url 'forum:forum_create'%}">
    <button>Create thread</button>
  </a>
{% endblock content %}
